.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  margin: 2rem 0;
  position: relative;
  transition: all 0.3s ease;
  max-width: 90vw;
}

.card.closed:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card.closed img {
  border-radius: 1rem;
}

.card .photo-infos {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
  bottom: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.4rem;
  color: white;
  left: 0;
  right: 0;
  padding: 2rem 1rem;
  position: absolute;
}

.card .infos {
  padding: 1.2rem;
}

.card hr {
  border: 1px solid #F5F5F5;
}

.job {
  align-items: center;
  color: #555;
  display: flex;
  flex-direction: row;
}

.job .im {
  margin-right: 0.6rem;
}

.job a {
  color: #1E88E5;
}

.next, .previous {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 4rem;
}

.next .im, .previous .im {
  color: #FFF;
  font-size: 2rem;
  text-shadow: 0 0 0.8rem rgba(0,0,0,0.7);
  transition: all 0.3s ease;
}

.next {
  right: 0;
}

.previous {
  left: 0;
}

.next:hover .im, .previous:hover .im {
  font-size: 2.4rem;
}
