@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Andika');

body {
  align-items: center;
  background: url('../img/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  font-family: Andika, sans-serif;
  justify-content: center;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Amatic SC, sans-serif;
}

h1 {
  font-size: 3.6rem;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

a {
  color: #0FC9E7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small {
  font-size: 0.8rem;
  opacity: 0.3;
}

li {
  line-height: 1.6rem;
  padding: 0 1rem;
}

#content {
  background-color: #fefefe;
  padding: 3.6rem;
}

#social {
  align-items: center;
  justify-content: center;
}

#social img {
  height: 4rem;
  margin: 1rem 2rem;
}

#credits {
  bottom: 0;
  font-size: 0.6rem;
  padding: 1rem;
  position: fixed;
  right: 0;
}
